.App {
	background-color: #27AE60;
	height: 100%;
	min-height: 100vh;
}

.Header {
	text-align: center;
	color: #FFFFFF;
	padding-top: 1em;
}

.Header .Image {
	font-size: 2.5em;
}

.Header .Text {
	font-size: 1em;
}

.Search {
	text-align: center;
	margin-top: 1em;
}

.SearchBar {
	border-radius: 50px;
	border-width: 0px;
	box-shadow: 0px 3px 6px #707070;
	-moz-box-shadow: 0px 3px 6px #707070;
	-webkit-box-shadow: 0px 3px 6px #707070;
	width: 90%;
	font-size: 1em;
	padding: 0.9em;
}

.SearchResults {
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1;
}

.SearchResult {
	display: flex;
	align-content: center;
	align-items: center;
	flex: 1;
	margin: 1em;
	min-width: 20%;
	background-color: #FFFFFF;
	padding: 0.3em;
	border-radius: 10px;
	box-shadow: 0px 3px 6px #707070;
	-moz-box-shadow: 0px 3px 6px #707070;
	-webkit-box-shadow: 0px 3px 6px #707070;
}

.EmptyState {
	height: 83.5vh;
	margin-top: -1.2%;
	background-color: #FFFFFF;
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.EmptyStateImage {
	height: 50%;
}

.EmptyStateTitle {
	font-size: 2em;
	color: #27AE60;
}