.App {
	text-align: center;
	background-color: #27AE60;
	height: 100vh;
	min-height: 100vh;
}

.Header {
	color: #FFFFFF;
	padding-top: 1em;
}

.Header .Image {
	font-size: 2.5em;
}

.Header .Text {
	font-size: 1em;
}